<template>
  <div class="todo-input">
    <input @keyup.enter="checkEnter" :disabled="addingTodo" :class="{disabled: addingTodo}" type="text" placeholder="Someting to do..." v-model.trim="newTodo.title" />
    <button @click="addTodo" class="btn-add" :disabled="addingTodo" :class="{disabled: addingTodo}">Add</button>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'TodoInput',

    data() {
      return {
        newTodo: {
          id: null,
          title: '',
          checked: false,
        },
      };
    },

    computed: mapGetters({
      addingTodo: 'getAddState',
    }),

    methods: {
      checkEnter() {
        this.addTodo();
      },

      addTodo() {
        if (!this.addingTodo) {
          const value = this.newTodo && this.newTodo.title;

          if (!value) {
            return;
          }

          this.$store.dispatch('addTodo', {
            ...this.newTodo,
            id: Date.now(),
          });

          this.newTodo.title = '';
        }
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .todo-input {
    display: flex;
    box-sizing: border-box;
    padding: 15px;

    input {
      width: 100%;
      box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #cfd1d5;
      font-size: 1em;
      margin-right: 15px;

      &.disabled {
        cursor: progress;
      }
    }

    .btn-add {
      height: 36px;
      width: 80px;
      cursor: pointer;
      background-color: #4875b3;
      color: #ffffff;
      border-radius: 3px;
      border: none;
      padding: 0 15px;

      &:hover {
        opacity: 0.8;
      }

      &.disabled {
        cursor: progress;
        opacity: 0.4;
      }
    }
  }
</style>
