<template>
  <div class="todo-list">
    <div v-if="todos.length === 0" class="todo-empty">No items</div>
    <ul v-else>
      <li v-for="todo in todos" class="todo-item">
        <input type="checkbox" :value="todo.id" :checked="todo.checked" @click="toggleCheck(todo)" />
        <span class="title">{{ todo.title }}</span>
        <span @click="removeTodo(todo)" class="btn-delete"></span>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'TodoList',

    computed: mapGetters({
      todos: 'getTodos',
    }),

    methods: {
      removeTodo(todo) {
        this.$store.dispatch('removeTodo', todo);
      },

      toggleCheck(todo) {
        const t = todo;

        t.checked = !t.checked;

        this.$store.dispatch('toggleCheck', t);
      },
    },

    created() {
      this.$store.dispatch('getTodos');
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .item {
    height: 36px;
    line-height: 36px;
    padding: 5px;
    border-top: 1px solid #cfd1d5;
  }

  .todo-list {
    .todo-item {
      @extend .item;

      cursor: pointer;
      display: flex;
      align-items: stretch;

      &:hover {
        background-color: #f4f6fa;

        .btn-delete:after {
          display: block;
        }
      }

      input[type=checkbox] {
        cursor: pointer;
        padding: 0;
        width: 30px;
        position: relative;
        top: 9px;
        left: 5px;
      }

      span {
        display: block;

        &.title {
          width: 100%;
        }

        &.btn-delete {
          box-sizing: border-box;
          display: block;
          position: relative;
          width: 36px;
          cursor: pointer;
          color: #4875b3;
          padding: 15px;

          &:after {
            display: none;
            position: absolute;
            top: 0;
            left: 8px;
            font-size: 1.8em;
            content: '×'; /* UTF-8 symbol */
          }

          &:hover {
            color: red;
          }
        }
      }
    }

    .todo-empty {
      @extend .item;

      color: gray;
      opacity: 0.5;
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
</style>
