<template>
	<div class="about">
		<p>This is one About page.</p>
	</div>
</template>

<script>
export default {
  name: 'About',
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
	.about {
		box-sizing: border-box;
		width: 80%;
		margin: 15px auto;
		background-color: #ffffff;
		border-radius: 3px;
		border: 1px solid #cfd1d5;

		p {
			padding: 10px 25px;
		}
	}
</style>
