<template>
  <div class="home">
    <todo-input />
    <todo-list />
  </div>
</template>

<script>
  import TodoInput from './Todo/TodoInput/TodoInput';
  import TodoList from './Todo/TodoList/TodoList';

  export default {
    name: 'Home',
    data() {
      return {};
    },
    components: {
      TodoInput,
      TodoList,
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .home {
    box-sizing: border-box;
    width: 80%;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #cfd1d5;
  }
</style>
