<template>
	<div class="nav-header">
		<ul class="nav-list">
			<li><router-link to="/">Home</router-link></li>
			<li><router-link to="/about">About</router-link></li>
		</ul>
	</div>
</template>

<script>
export default {
  name: 'NavHeader',
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
	.nav-header {
		background-color: #ffffff;

		.nav-list {
			margin: 0;
			padding: 0;
			height: 60px;
			border-bottom: 1px solid #cfd1d5;

			li {
				display: inline-block;
				padding: 0 15px;
				line-height: 60px;
			}
		}
	}
</style>
