<template>
  <div id="app">
    <nav-header />
    <router-view/>
  </div>
</template>

<script>
  import NavHeader from './components/NavHeader';

  export default {
    name: 'app',
    components: {
      NavHeader,
    },
  };
</script>

<style lang="">
  body, html {
    padding: 0;
    margin: 0;
    background-color: #f4f6fa;
    color: #232323;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, sans-serif;
  }

  a {
    color: #60b2ff;
    text-decoration: none;
  }
</style>
